.btn-sort {
  margin: 20px auto;
  text-align: left;
}
.input-search {
  margin: 0;
  float: left;
  clear: both;
  width: 25%;
  border-radius: 10px;
  margin-bottom: 20px;
  padding-left: 5px;
}
.media {
  clear: both;
  display: flex;
  margin: 2em auto;
  color: black;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}
.btn-back {
  color: white;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    color: white;
  }
}
.mr-3 {
  width: 10%;
  height: 10%;
  cursor: pointer;
  object-fit: cover;
}
.media-body {
  text-align: left;
  padding-left: 2em;
}
.media-body__container {
  top: 1em;
  position: relative;
}

.pagination {
  float: right;
  .page-link {
    cursor: pointer;
  }
}
.detail-page {
  text-align: center;
  margin: 50px auto;
}
